/* Notifications Content Styles */
.notifications-content {
    padding-left: 275px;
    margin-right: 40px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

/* Notification Item Styles */
.notification-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

/* Sender Image Styles */
.sender-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

/* Notification Text Container Styles */
.notification-text-container {
    flex: 1;
}

/* Sender Name Styles */
.sender-name {
    font-weight: bold;
    margin-right: 10px;
}

/* Notification Text Styles */
.notification-text {
    margin-bottom: 10px;
}

/* Notification Date Styles */
.notification-date {
    font-size: 14px;
    color: #888;
}

/* Read Status Dot Styles */
.read-status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

/* Read Status Dot Styles - Read */
.read {
    background-color: green;
}

/* Read Status Dot Styles - Unread */
.unread {
    background-color: red;
}

/* Mark as Read Button Styles */
.mark-as-read-btn {
    background-color: #F9B314;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 14px;
}

/* Hover Effect for Mark as Read Button */
.mark-as-read-btn:hover {
    background-color: #F9B314;
}

/* Responsive Styles for Screens with a Maximum Width of 768px */
@media screen and (max-width: 768px) {
    .notifications-content {
        padding-left: 20px;
        margin-right: 20px;
        padding-top: 5px;
    }

    .notification-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin-bottom: 10px;
    }

    .sender-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .notification-text-container {
        width: 100%;
    }

    .sender-name {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .notification-date {
        margin-top: 5px;
    }

    .mark-as-read-btn {
        margin-top: 5px;
        margin-left: 0;
    }
}
