body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    width: 70%;
    max-width: 1400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo {
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Caveat', cursive;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 36px;
    margin-top: 0;
}

.quote {
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #454545;
}

form {
    display: flex;
    flex-wrap: wrap; /* Wrap columns */
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    width: 48%;
    margin-top: 10px;
    text-align: left;
}

.label-container {
    width: 100%; /* Full width for labels */
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="checkbox"],
select,
textarea {
    width: calc(100% - 12px);
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
}


select {
    height: 33px;
}

input[type="file"] {
    height: auto;
}

.button-container {
    width: 100%; /* Full width for buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    background-color: #F9B314;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #FFDB8B;
}

.invalid-feedback {
    color: red;
}
.checkbox-container {
    display:flex; 
    align-items: center; 
    /* margin: 10px; */
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust as needed */
}

.terms-link {
    margin-left: 5px; /* Adjust the margin as needed */
}

  

