body, ul {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* 
 */


.feedback {
    border: 2px solid #efdc0b;
    border-radius: 10px;
    margin-bottom: 20px;
    /* padding: 15px; */
    background-color: #f7f7f7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* border:2px solid rgb(0, 0, 0); */
}

.feedback-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.feedback-details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.feedback-details span {
    color: #555;
    font-size: 15px;
}

.rating {
    margin-bottom: 10px;
}

.star {
    font-size: 25px;
    color: #FFD700;
    margin-right: 5px;
}

.comment p {
    color: #444;
    font-size: 20px;
    line-height: 1.6;
}



.search-bar {
    text-align: center;
    margin-top: 30px;
}

.search-bar form {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2);
}

.search-bar input[type="text"] {
    width: 80%; /* Use 100% width for responsiveness */
    width: 15vh;
    padding: 5px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #f1f1f1;
    font-family: "Poppins", sans;
}

.search-bar button[type="submit"] {
    background-color: #F9B314;
    color: #ffffff;
    padding: 4px 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}
/* Left menu styles */
.left-menu {
    background-color: #FFDB8B;
    color: #000;
    width: 250px;
    height: 1000vh;
    position: fixed;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
}

/* User profile styles */
.user-profile {
    display: flex;
    align-items: center;
    padding: 20px;
}

.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.search-bar {
    text-align: center;
    margin-top: 30px;
}

.search-bar form {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2);
}

.search-bar input[type="text"] {
    width: 80%; /* Use 100% width for responsiveness */
    width: 15vh;
    padding: 5px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
}

.search-bar button[type="submit"] {
    background-color: #F9B314;
    color: #ffffff;
    padding: 4px 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}


/* Main content styles */
main {
    padding: 20px;
}

/* Remove margin from the ul element */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s;
}

/* Apply background and border for active and clicked buttons */
a.active, a:active {
    background-color: #F1F1F1;
    font-weight: bold;
}

a.active::before, a:active::before, a:hover::before {
    content: "";
    border-left: 4px solid #F9B314;
    height: 100%;
    position: absolute;
    left: 0;
}

/* Logo container styles */
.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* Define styles for menu icons */
a img.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logout {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 20px;   
    width: 100%;
}

/* Logo styles */
.logo-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-top: 0%;
}

.logo-text {
    margin-left: 2px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    font-family: "Caveat", cursive;
}

.dashboard-content {
    display: flex;
    padding-left: 275px;
    margin-right: 50px;
    padding-top: 25px;
    font-family: "Poppins", sans;
}

/* Apply styles to the icon */
a i {
    margin-right: 10px; /* Add spacing between icon and text */
}

/* Adjust styles for active and clicked buttons */
a.active, a:active {
    background-color: #F1F1F1;
    font-weight: bold;
    color: #F9B314; /* Change text color for active buttons */
}



/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .left-menu {
        width: 100%;
        height: auto;
        position: static;
        overflow-y: hidden;
    }

    main {
        margin-left: 0;
    }

    .logo-container {
        position: static;
        text-align: center;
    }
    .search-bar button[type="submit"] {
        padding: 10px 20px;
    }
    
    .logout {
        position: static;
        text-align: center;
        margin-top: 20px; /* Add spacing above the logout button */
        width: 100%; 
    }

    .dashboard-content{
        position: static;
        text-align: center;
    }
    .dashboard-content {
        padding-left: 20px; /* Adjust padding for smaller screens */
        text-align: center; /* Center-align the content */
    }
    
    .dashboard-content h1 {
        font-size: 24px; /* Reduce font size for smaller screens */
    }

}

.dashboard-content {
    display: flex;
    padding-left: 275px;
    margin-right: 50px;
    padding-top: 25px;
    font-family: "Poppins", sans;
}

.dashboard-sub-content {
    padding-left: 250px;
    margin-right: auto;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

/* Style for the container of top boxes */
.top-boxes {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next row on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
   
}

/* Style for each individual box */
.box {
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid #e9e7e7;
    flex: 1;
    margin: 10px; /* Add spacing between boxes */
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 120px; /* Set the width to your desired size */
    height: 120px; /* Set the height to your desired size */
    box-sizing: border-box; /* Include padding and border in box width */
    overflow: hidden; /* Hide overflow content */
    border-left: 10px solid #FFEFCC;
}

/* Style for box heading */
.box h2 {
    font-size: 20px;
    margin: 5;
    font-weight: bold;
    color: #605D5D;
    text-align: left;
    padding-left: 10px;
}

/* Style for box content */
.box p {
    font-size: 32px;
    margin: 5px 0;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding-left: 10px;
}

.search-bar {
    text-align: center;
    margin-top: 30px;
}

.search-bar form {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2);
}

.search-bar input[type="text"] {
    width: 80%; /* Use 100% width for responsiveness */
    width: 15vh;
    padding: 5px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #f1f1f1;
    font-family: "Poppins", sans;
}

.search-bar button[type="submit"] {
    background-color: #F9B314;
    color: #ffffff;
    padding: 4px 8px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}



/* Style for small image boxes */
.img-box {
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    flex: 0.5;
    margin: 10px;
    background-color: #f9f9f9;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Style for small image */
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Style for the review box container */
.review-content {
    padding-left: 270px;
    margin-right: 15px;
    padding-top: 5px;
    font-family: "Poppins", sans;
    /* border:2px solid red; */
    margin-top: 50px;
    overflow: visible;
}

.card{
   padding: 25px;

}

.review-box {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #e9e7e7;
    border-left: 10px solid #FFEFCC;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

/* Style for the review content */
.review-sub-content {
    padding: 20px;
}

.review-sub-content h2 {
    font-size: 18px;
    margin: 0;
    color: #605D5D;
    font-weight: bold;
}

.review-sub-content p {
    margin: 5px 0;
    color: #000000;
    font-size: 16px;
}

/* Style for the review image */
.review-image {
    flex: 0 0 120px; /* Fixed width for the image */
    overflow: hidden;
}

.review-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.review-text {
    max-height: 100px; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more-btn {
    background-color: #F9B314;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.read-more-btn:hover {
    background-color: #FFDB8B;
}


/* Style for the booking search container */
.review-search {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Style for the search input */
.search-content {
    padding-left: 550px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

.review-search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 500px;
}

/* Style for the search button */
.review-search button {
    background-color: #FFDB8B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style for the search button on hover */
.review-search button:hover {
    background-color: #F9B314;
}

/* Style for the search icon */
.review-search button i {
    font-size: 20px;
}

/* Style for the "Go to Next Page" icon */
.next-page-btn {
    background-color:#FFDB8B;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight:medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-page-btn i {
    font-size: 18px;
    margin-left: 5px;
}

.next-page-btn:hover {
    background-color: #F9B314;
}

.more-content {
    padding-left: 1340px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}





/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .left-menu {
        width: 100%;
        height: auto;
        position: static;
        overflow-y: hidden;
    }

    main {
        margin-left: 0;
    }

    .logo-container {
        position: static;
        text-align: center;
    }
    .search-bar button[type="submit"] {
        padding: 10px 20px;
    }
    
    .logout {
        position: static;
        text-align: center;
        margin-top: 20px; /* Add spacing above the logout button */
        width: 100%; 
    }

    .nav-button {
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }

    .dashboard-content{
        position: static;
        text-align: center;
    }
    .dashboard-content {
        padding-left: 20px; /* Adjust padding for smaller screens */
        text-align: center; /* Center-align the content */
    }
    
    .dashboard-content h1 {
        font-size: 24px; /* Reduce font size for smaller screens */
    }

    .dashboard-sub-content {
        padding-left: 10px;
        text-align: center;
    }
    .top-boxes {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
        align-items: flex-start; /* Align boxes to the left */
    }

    .box {
        max-width: 100%; /* Each box takes full width on smaller screens */
        margin-right: 0; /* No margin between boxes */
    }

    .img-box {
        max-width: 100%;
        margin: 2; /* Adjust the margin between img-box elements */
    }

    .box h2 {
        font-size: 16px; /* Set the desired font size for heading */
        padding-left: 5px; /* Adjust the padding as needed */
    }

    .box p {
        font-size: 24px; /* Set the desired font size for paragraph */
        padding-left: 5px; /* Adjust the padding as needed */
    }

    .review-content {
        padding-left: 25px;
        text-align: center;
    }

    .review-box {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .review-sub-content {
        padding: 10px;
    }

    .review-image {
        flex: 1;
    }

    .search-content {
        padding-left: 30px;
        text-align: center;
    }

    .more-content {
        padding-left: 200px;
        text-align: center;
    }
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        position: relative;
        display: inline-block;
    }
    
    .star {
        display: inline-block;
        margin: 0 2px;
        font-size: 30px;
        color: gold !important; /* Set the color to gold */
    }
    body, ul {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
    }
    
    /* Left menu styles */
    .left-menu {
        background-color: #FDDD95;
        color: #000;
        width: 250px;
        height: 100vh;
        position: fixed;
        overflow-y: auto;
        font-family: "Poppins", sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: width 0.3s ease; /* Add a smooth transition effect */
    }
    
    .left-menu:hover {
        width: 270px; /* Increase width on hover */
    }
    
    /* User profile styles */
    .user-profile {
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    
    .user-profile img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
    
    .user-name {
        font-weight: bold;
    }
    
    .search-bar {
        text-align: center;
        margin-top: 30px;
    }
    
    .search-bar form {
        display: inline-block;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2);
    }
    
    .search-bar input[type="text"] {
        width: 80%; /* Use 100% width for responsiveness */
        width: 15vh;
        padding: 5px;
        border: none;
        border-radius: 25px;
        outline: none;
        background-color: #f1f1f1;
        font-family: "Poppins", sans;
    }
    
    .search-bar button[type="submit"] {
        background-color: #F9B314;
        color: #ffffff;
        padding: 4px 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }
    
    .notification-button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 10px; /* Adjust the margin as needed */
        font-size: 24px; /* Adjust the font size as needed */
        color: #000; /* Adjust the color as needed */
    }
    
    
    /* Main content styles */
    main {
        padding: 20px;
    }
    
    /* Remove margin from the ul element */
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        font-family: "Poppins", sans;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    /* Navigation Button Styles */
    .nav-button {
        text-decoration: none;
        color: #000;
        padding: 15px 20px;
        border-radius: 0;
        display: flex;
        align-items: center;
        position: relative;
        transition: background-color 0.3s, color 0.3s;
        border-left: 5px solid transparent; /* Use a transparent border by default */
    }
    
    .nav-button.active {
        background-color: #F1F1F1;
        font-weight: bold;
        color: #F9B314;
        border-left-color: #F9B314; /* Highlight the left border for active button */
    }
    
    .nav-button:hover {
        background-color: #f9f9f9; /* Light background on hover */
        color: #F9B314;
    }
    
    .nav-button i {
        margin-right: 0; /* Remove spacing between icon and text */
    }
    
    
    /* Logo container styles */
    .logo-container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        z-index: 1; /* Ensure the logo is above the menu */
    }
    
    /* Define styles for menu icons */
    
    
    .logout {
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 30px;
        width: 100%;
    }
    
    /* Logo styles */
    .logo-container img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        margin-top: 0%;
    }
    
    .logo-text {
        margin-left: 10px;
        font-weight: bold;
        font-size: 18px;
        color: #000;
        font-family: "Caveat", cursive;
    }
    
    .dashboard-content {
        display: flex;
        padding-left: 275px;
        margin-right: 50px;
        padding-top: 25px;
        font-family: "Poppins", sans;
    }
    
    .dashboard-sub-content {
        padding-left: 250px;
        margin-right: auto;
        padding-top: 5px;
        font-family: "Poppins", sans;
    }
    
    /* Style for the container of top boxes */
    .top-boxes {
        display: flex;
        flex-wrap: wrap; /* Allow boxes to wrap to the next row on smaller screens */
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
    
    }
    
    /* Style for each individual box */
    .box {
        text-align: center;
        border-radius: 5px;
        border: 0.5px solid #e9e7e7;
        flex: 1;
        margin: 10px; /* Add spacing between boxes */
        background-color: #ffffff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        width: 120px; /* Set the width to your desired size */
        height: 120px; /* Set the height to your desired size */
        box-sizing: border-box; /* Include padding and border in box width */
        overflow: hidden; /* Hide overflow content */
        border-left: 10px solid #FFEFCC;
    }
    
    /* Style for box heading */
    .box h2 {
        font-size: 20px;
        margin: 5;
        font-weight: bold;
        color: #605D5D;
        text-align: left;
        padding-left: 10px;
    }
    
    /* Style for box content */
    .box p {
        font-size: 32px;
        margin: 5px 0;
        font-weight: bold;
        color: #000000;
        text-align: left;
        padding-left: 10px;
    }
    
    
    
    /* Style for small image boxes */
    .img-box {
        text-align: center;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        flex: 0.5;
        margin: 10px;
        background-color: #f9f9f9;
        width: 120px;
        height: 120px;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    /* Style for small image */
    .img-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /* Media Query for Responsive Design */
    @media screen and (max-width: 768px) {
        .left-menu {
            width: 110%;
            height: auto;
            position: static;
            overflow-y: hidden;
        }
    
        main {
            margin-left: 0;
        }
    
        .logo-container {
            position: static;
            text-align: center;
        }
    
        .search-bar button[type="submit"] {
            padding: 10px 20px;
        }
    
        .logout {
            position: static;
            text-align: center;
            margin-top: 20px;
            width: 100%;
        }
    
        .nav-button {
            padding: 10px 15px;
            justify-content: flex-start; /* Align items to the start */
            text-align: left;
            border-left: none; /* Remove left border */
        }
    
        .nav-button i {
            margin-right: 10px; /* Add space between icon and text */
        }
    
        .dashboard-content {
            position: static;
            text-align: center;
        }
    
        .dashboard-content {
            padding-left: 20px;
            text-align: center;
        }
    
        .dashboard-content h1 {
            font-size: 24px;
        }
    
        .dashboard-sub-content {
            padding-left: 10px;
            text-align: center;
        }
    
        .top-boxes {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .box {
            max-width: 100%;
            margin-right: 0;
        }
    
        .img-box {
            max-width: 100%;
            margin: 2;
        }
    
        .box h2 {
            font-size: 16px;
            padding-left: 5px;
        }
    
        .box p {
            font-size: 24px;
            padding-left: 5px;
        }
    
    }  
    
}
body, ul {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Left menu styles */
.left-menu {
    background-color: #FDDD95;
    color: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease; /* Add a smooth transition effect */
}

.left-menu:hover {
    width: 270px; /* Increase width on hover */
}

/* User profile styles */
.user-profile {
    display: flex;
    align-items: center;
    padding: 20px;
}


.user-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.search-bar {
    text-align: center;
    margin-top: 30px;
}

.search-bar form {
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 3px rgba(127, 127, 127, 0.2);
}

.search-bar input[type="text"] {
    width: 80%; /* Use 100% width for responsiveness */
    width: 15vh;
    padding: 5px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #f1f1f1;
    font-family: "Poppins", sans;
}

.search-bar button[type="submit"] {
    background-color: #F9B314;
    color: #ffffff;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.notification-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin as needed */
    font-size: 24px; /* Adjust the font size as needed */
    color: #000; /* Adjust the color as needed */
}


/* Main content styles */
main {
    padding: 20px;
}

/* Remove margin from the ul element */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: "Poppins", sans;
}

li {
    margin-bottom: 10px;
}

/* Navigation Button Styles */
.nav-button {
    text-decoration: none;
    color: #000;
    padding: 15px 20px;
    border-radius: 0;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    border-left: 5px solid transparent; /* Use a transparent border by default */
}

.nav-button.active {
    background-color: #F1F1F1;
    font-weight: bold;
    color: #F9B314;
    border-left-color: #F9B314; /* Highlight the left border for active button */
}

.nav-button:hover {
    background-color: #f9f9f9; /* Light background on hover */
    color: #F9B314;
}

.nav-button i {
    margin-right: 0; /* Remove spacing between icon and text */
}


/* Logo container styles */
.logo-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1; /* Ensure the logo is above the menu */
}

/* Define styles for menu icons */


.logout {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 30px;
    width: 100%;
}

/* Logo styles */
.logo-container img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-top: 0%;
}

.logo-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    font-family: "Caveat", cursive;
}

.dashboard-content {
    display: flex;
    padding-left: 275px;
    margin-right: 50px;
    padding-top: 25px;
    font-family: "Poppins", sans;
}

.dashboard-sub-content {
    padding-left: 250px;
    margin-right: auto;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

/* Style for the container of top boxes */
.top-boxes {
    display: flex;
    flex-wrap: wrap; /* Allow boxes to wrap to the next row on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;

}

/* Style for each individual box */
.box {
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid #e9e7e7;
    flex: 1;
    margin: 10px; /* Add spacing between boxes */
    background-color: #ffffff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 120px; /* Set the width to your desired size */
    height: 120px; /* Set the height to your desired size */
    box-sizing: border-box; /* Include padding and border in box width */
    overflow: hidden; /* Hide overflow content */
    border-left: 10px solid #FFEFCC;
}

/* Style for box heading */
.box h2 {
    font-size: 20px;
    margin: 5;
    font-weight: bold;
    color: #605D5D;
    text-align: left;
    padding-left: 10px;
}

/* Style for box content */
.box p {
    font-size: 32px;
    margin: 5px 0;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding-left: 10px;
}



/* Style for small image boxes */
.img-box {
    text-align: center;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    flex: 0.5;
    margin: 10px;
    background-color: #f9f9f9;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Style for small image */
.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .left-menu {
        width: 110%;
        height: auto;
        position: static;
        overflow-y: hidden;
    }

    main {
        margin-left: 0;
    }

    .logo-container {
        position: static;
        text-align: center;
    }

    .search-bar button[type="submit"] {
        padding: 10px 20px;
    }

    .logout {
        position: static;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .nav-button {
        padding: 10px 15px;
        justify-content: flex-start; /* Align items to the start */
        text-align: left;
        border-left: none; /* Remove left border */
    }

    .nav-button i {
        margin-right: 10px; /* Add space between icon and text */
    }

    .dashboard-content {
        position: static;
        text-align: center;
    }

    .dashboard-content {
        padding-left: 20px;
        text-align: center;
    }

    .dashboard-content h1 {
        font-size: 24px;
    }

    .dashboard-sub-content {
        padding-left: 10px;
        text-align: center;
    }

    .top-boxes {
        flex-direction: column;
        align-items: flex-start;
    }

    .box {
        max-width: 100%;
        margin-right: 0;
    }

    .img-box {
        max-width: 100%;
        margin: 2;
    }

    .box h2 {
        font-size: 16px;
        padding-left: 5px;
    }

    .box p {
        font-size: 24px;
        padding-left: 5px;
    }

}
/* Review Box Container Styles */
.review-content {
    padding-left: 270px;
    margin-right: 15px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

/* Review Box Styles */
.review-box {
    display: flex;
    background-color: #f8f9fa; /* Light gray background */
    border: 1px solid #ced4da; /* Light gray border */
    border-left: 10px solid #F9B314; /* Yellow left border */
    margin: 10px;
    border-radius: 10px; /* Increased border radius for rounded corners */
    overflow: hidden;
}

/* Review Image Styles */
.review-image {
    flex: 0 0 120px; /* Fixed width for the image */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Align image horizontally to center */
    align-items: center; /* Align image vertically to center */
}

.review-image img {
    width: 60%; /* Set the width to 100% */
    height: 50%; /* Auto height to maintain aspect ratio */
    border-radius: 50%; /* Make it a circle */
    object-fit: cover;
}


/* Review Content Styles */
.review-sub-content {
    flex: 1; /* Fill remaining space */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.review-sub-content h2 {
    font-size: 18px;
    margin: 0;
    color: #605D5D;
    font-weight: bold;
}

.review-sub-content p {
    margin: 5px 0;
    color: #000000;
    font-size: 14px;
}

.review-text {
    max-height: 100px; /* Adjust the height as needed */
    overflow: hidden;
}


/* "Read More" Button Styles */
.read-more-btn {
    background-color: #F9B314;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.read-more-btn:hover {
    background-color: #FFDB8B;
}

/* Review Search Container Styles */
.review-search {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

/* Search Input Styles */
.search-content {
    padding-left: 550px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

.review-search input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    width: 500px;
}

/* Search Button Styles */
.review-search button {
    background-color: #FFDB8B;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Search Button Hover Styles */
.review-search button:hover {
    background-color: #F9B314;
}

/* Search Icon Styles */
.review-search button i {
    font-size: 20px;
}

/* "Go to Next Page" Button Styles */
.next-page-btn {
    background-color: #FFDB8B;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-page-btn i {
    font-size: 18px;
    margin-left: 5px;
}

.next-page-btn:hover {
    background-color: #F9B314;
}

/* More Content Styles */
.more-content {
    padding-left: 1340px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* CSS for star icons */
.bx.bxs-star {
    color: #ffc107;
    font-size: 15px;
    margin-right: 3px;
}


/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .review-content {
        padding-left: 25px;
        text-align: center;
    }

    .review-box {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .review-sub-content {
        padding: 10px;
    }

    .review-image {
        flex: 1;
    }

    .search-content {
        padding-left: 30px;
        text-align: center;
    }

    .more-content {
        padding-left: 200px;
        text-align: center;
    }
}
