/* Apply styles to the icon */
a i {
    margin-right: 10px; /* Add spacing between icon and text */
}

/* Adjust styles for active and clicked buttons */
a.active, a:active {
    background-color: #F1F1F1;
    font-weight: bold;
    color: #F9B314; /* Change text color for active buttons */
}

.filter-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left:20px;
}

.filter-option label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-option select {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #F9B314;
}






/* Style for the booking table */
.table-content {
    padding-left: 275px;
    margin-right: 20px;
    padding-top: 5px;
    font-family: "Poppins", sans;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.booking-table th, .booking-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.booking-table th {
    background-color: #f2f2f2;
}

/* Style for the "View" button */
.view-button {
    background-color: #F9B314;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.view-button:hover {
    background-color: #FFDB8B;
}

td.approved {
    color: #2ecc71;
    font-weight: bold;
}

td.pending {
    color: #e74c3c;
    font-weight: bold;
}

.download-button {
    background-color: #1432f9;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.download-button:hover {
    background-color: #91b8f7;
}



/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .left-menu {
        width: 100%;
        height: auto;
        position: static;
        overflow-y: hidden;
    }

    main {
        margin-left: 0;
    }

    .logo-container {
        position: static;
        text-align: center;
    }
    .search-bar button[type="submit"] {
        padding: 10px 20px;
    }
    
    .logout {
        position: static;
        text-align: center;
        margin-top: 20px; /* Add spacing above the logout button */
        width: 100%; 
    }

    .dashboard-content{
        position: static;
        text-align: center;
    }
    .dashboard-content {
        padding-left: 20px; /* Adjust padding for smaller screens */
        text-align: center; /* Center-align the content */
    }
    
    .dashboard-content h1 {
        font-size: 24px; /* Reduce font size for smaller screens */
    }

}